/*INICIO contenido genérico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/**/
/*FIN contenido genérico*/
/**/
/*INICIO index.html*/
/**/
.principal {
    width: 100%;
    height: 100%;
    background-color: #F24D98;
    position: relative;
}

/**/
/* INICIO header index.html*/

.encabezado {
    width: 100%;
    position: relative;
}

.navegador{
    width: 40%;
    position: absolute;
    right: 3%;
    top: 1em;
    display: flex;
    justify-content: end;
}

.barra-nav {
    width: 50%;
    height: 2.2em;
    display: flex;
    justify-content: start;
}

.list-enca {
    width: 100%;
    padding-top: 0.8%;
    list-style: none; 
}

.list-enca:hover {
    text-decoration: underline;
}

.menu {
    font-size: 1em;
    text-decoration: none;
    color: #000000;
    font-weight: 900;
}

.ini-ses {
    width: 12%;
    height: 30px;
}

.ini-ses:active {
    height: 45%;
    position: absolute;
    top: 40%;
}

#btn-modal {
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgb(241, 98, 2);
    border: 0;
    border-radius: 25px;
}

#btn-modal:hover {
    background: rgb(182, 73, 1);
    cursor: pointer;
}

.foto-prin {
    width: 94%;
    height: 30em;
    margin: 3%;
}

h1 {
    height: 1.4em;
    width: 6em;
    font-size: 2em;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    left: 43%;
    top: 255px;
}

/* FIN header index.html*/
/*INICIO fantasía index.html */

.fantasia {
    width: 94%;
    margin: 0 auto;
    background: #cf911f;
}

.his-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.noche-vela{
    padding-inline: 20%;
    padding-top: 8%;
}

#vaporwave {
    width: 30%;
}

/*FIN fantasía index.html */
/**/
/*FIN index.html*/
/**/